html {
  background: linear-gradient(rgb(28, 111, 172), rgb(58, 14, 86));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body {
  margin: 0;
  overflow: auto;
}

#root {
  height: 100%;
}

@media (min-width: 400px) {
  body {
    height: 100%;
  }

  #root {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
}
