#enterNum {
    background: #fff;
    border-radius: 10px;
    font-family: "Futura", "serif";
    font-size: 20px;
    margin: 10% auto;
    overflow: auto;
    padding: 5%;
    text-align: center;
    width: 40%;
}


#numBox {
    margin: 60% auto;
    overflow: auto;
    width: 50%;
    text-align: center;
}

#howMany {
    color: #fff;
    font-family: "Futura", "serif";
}