

.appName {
    align-items: center;
    display: flex;
    margin: 10px;
    overflow: auto;
}

.appName label {
    color: #fff;
    font-family: "American Typewriter", "serif";
    margin-left: 5px;
}

#billInfo {
    margin: 40% auto;
    overflow: auto;
    width: 50%;
}

#billInfo > * { 
    /* adding space between all child elements of #billInfo */
    font-size: 20px;
    margin-bottom: 40px;
    overflow: auto;
}

.info {
    color: #fff;
    display: block;
    font-family: "Futura", "serif";
    margin-bottom: 2px;
}

input[type="text"] {
    font-size: 20px;
}

.inputAmount {
    border-radius: 10px;
    padding: 10px 7px;
    width: 90%;
}






@media (max-width: 380px) {
    .appLogo {
        height: 50px;
        width: 50px;
    }
}