@import "../global/global";

#homepage {
  color: #fff;
  font-family: $fontHeader;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: 1px;
  overflow: auto;
  text-align: center;
  width: $pageWidth;
}

#logo {
  display: block;
  height: 150px;
  margin: 10% auto;
}

#titleDesc {
  font-family: $fontDesc;
}

@media (max-width: 490px) {
  #homepage {
    margin: 40% auto;
  }

  #logo {
    margin: 20% auto;
  }
}
