@import "../global/global";

#homepage {
  color: #fff;
  font-family: $fontHeader;
  font-size: 20px;
  margin: 10% auto;
  letter-spacing: 1px;
  overflow: auto;
  text-align: center;
  width: $pageWidth;
  @media screen and (max-width: $mobileSize) {
    margin: 40% auto;
  }
}

#logo {
  display: block;
  height: 150px;
  margin: 5% auto;
  @media (max-width: $mobileSize) {
    margin: 20% auto;
  }
}

#titleDesc {
  font-family: $fontDesc;
}
