button,
.percentageContainer .percentage {
  background: #26a6d8;
  border-radius: 0;
  color: #fff;
  font-family: "Futura", "serif";
  padding: 10px;
  font-size: 20px;
}

button:active,
.percentageContainer .percentage:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#147497),
    to(#08364b)
  );
  background: linear-gradient(#147497, #08364b);
}

button:hover,
.percentageContainer .percentage:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

button:focus,
.percentageContainer .percentage:focus {
  outline: 0;
}

section {
  width: 100%;
  overflow: auto;
  position: relative;
}

section header {
  color: #fff;
  font-family: "Futura", "serif";
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

section main {
  margin: 0 auto;
  padding: 0;
  width: 390px;
}

@media screen and (max-width: 390px) {
  section main {
    font-size: 20px;
    width: 80%;
  }
}

section main form {
  margin: 0 auto;
  width: 100%;
}

section main form label {
  color: #fff;
  font-family: "Futura", "serif";
}

section main .formComponentContainers {
  background: #fff;
  border-radius: 0;
  margin: 10px 0;
  overflow: auto;
  width: 100%;
}

section main .formComponentContainers .inputContainer {
  float: right;
}

section main .formComponentContainers .inputContainer span {
  font-family: "Futura", "serif";
  font-size: 20px;
}

section main .formComponentContainers .inputContainer input {
  border: 0;
  border-radius: 0;
  font-size: 20px;
  padding: 10px 0 10px 5px;
  text-align: right;
  width: 80%;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus::-webkit-input-placeholder {
  color: transparent;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus:-ms-input-placeholder {
  color: transparent;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus::-ms-input-placeholder {
  color: transparent;
}

section main .formComponentContainers .inputContainer input:focus::placeholder {
  color: transparent;
}

section main .formComponentContainers hr {
  margin: 0 auto;
  width: 90%;
}

section main .formComponentContainers .plusSign,
section main .formComponentContainers .minusSign {
  width: 25%;
}

.bottomPortion {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Futura", "serif";
  font-size: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 10px 15px;
}

.bottomPortion .inputDesc {
  color: #d3d3d3;
}

#modifyButton {
  width: 100%;
  margin-bottom: 20px;
}

#numberOfPeopleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
}

#numberOfPeopleContainer input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "Futura", "serif";
  font-size: 20px;
  margin: 0 10px;
  text-align: center;
  width: 50%;
}

#numberOfPeopleContainer input:focus::-webkit-input-placeholder {
  color: transparent;
}

#numberOfPeopleContainer input:focus:-ms-input-placeholder {
  color: transparent;
}

#numberOfPeopleContainer input:focus::-ms-input-placeholder {
  color: transparent;
}

#numberOfPeopleContainer input:focus::placeholder {
  color: transparent;
}

.percentageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 10%;
  padding: 15px 5%;
}
/*# sourceMappingURL=totalBillPage.css.map */
