@import "../global/global";

.bottomPortion {
  align-items: center;
  display: flex;
  font-family: $fontDesc;
  font-size: 20px;
  justify-content: space-between;
  padding: 10px 5%;
  .inputDesc {
    color: #d3d3d3;
  }
  input {
    float: right;
  }
}

#modifyButton {
  width: 100%;
  margin-bottom: 20px;
}

#numberOfPeopleContainer {
  display: flex;
  justify-content: center;
  padding: 10px 5%;
  input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: $fontDesc;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    width: 50%;
    &:focus::placeholder {
      color: transparent;
    }
  }
}

.percentageContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 5%;
  padding: 3% 5%;
  .percentage {
    @extend button;
  }
}
