$backgroundAlter: linear-gradient(#147497, #08364b);
$buttonColor: #26a6d8;
$fontColor: #fff;
$fontDesc: "Futura", "serif";
$mobileSize: 550px;

@mixin verticalCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  background: $buttonColor;
  border-radius: 0;
  color: $fontColor;
  font-family: $fontDesc;
  padding: 10px;
  font-size: 20px;
  &:active {
    background: $backgroundAlter;
  }
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

section {
  width: 100%;
  overflow: auto;
  position: relative;
  header {
    color: $fontColor;
    font-family: $fontDesc;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  main {
    margin: 0 auto;
    padding: 0;
    width: $mobileSize;
    @media screen and (max-width: $mobileSize) {
      font-size: 20px;
      width: 80%;
    }
    form {
      margin: 0 auto;
      width: 100%;
      label {
        color: #fff;
        font-family: $fontDesc;
      }
    }
    .formComponentContainers {
      background: #fff;
      border-radius: 0;
      margin: 10px 0;
      overflow: auto;
      width: 100%;
      .inputContainer {
        float: right;
        span {
          font-family: $fontDesc;
          font-size: 20px;
        }
        input {
          border: 0;
          border-radius: 0;
          font-size: 20px;
          padding: 10px 0 10px 5px;
          text-align: right;
          width: 80%;
          &:focus::placeholder {
            color: transparent;
          }
        }
      }
      hr {
        margin: 0 auto;
        width: 90%;
      }
      .plusSign,
      .minusSign {
        width: 25%;
      }
    }
  }
}
