button {
  background: #26a6d8;
  border-radius: 0;
  border: 0;
  color: #fff;
  font-family: "Futura", "serif";
  padding: 10px;
  font-size: 15px;
}

button:active {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#147497),
    to(#08364b)
  );
  background: linear-gradient(#147497, #08364b);
}

button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

section {
  width: 100%;
  overflow: auto;
  position: relative;
}

section header {
  color: #fff;
  font-family: "Futura", "serif";
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

section main {
  margin: 0 auto;
  padding: 0;
  width: 550px;
}

@media screen and (max-width: 550px) {
  section main {
    font-size: 20px;
    width: 80%;
  }
}

section main form {
  margin: 0 auto;
  width: 100%;
}

section main form label {
  color: #fff;
  font-family: "Futura", "serif";
}

section main .formComponentContainers {
  background: #fff;
  border-radius: 0;
  margin: 10px 0;
  overflow: auto;
  width: 100%;
}

section main .formComponentContainers .inputContainer {
  float: right;
}

section main .formComponentContainers .inputContainer span {
  font-family: "Futura", "serif";
  font-size: 20px;
}

section main .formComponentContainers .inputContainer input {
  border: 0;
  border-radius: 0;
  font-size: 20px;
  padding: 10px 0 10px 5px;
  text-align: right;
  width: 80%;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus::-webkit-input-placeholder {
  color: transparent;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus:-ms-input-placeholder {
  color: transparent;
}

section
  main
  .formComponentContainers
  .inputContainer
  input:focus::-ms-input-placeholder {
  color: transparent;
}

section main .formComponentContainers .inputContainer input:focus::placeholder {
  color: transparent;
}

section main .formComponentContainers hr {
  margin: 0 auto;
  width: 90%;
}

section main .formComponentContainers .plusSign,
section main .formComponentContainers .minusSign {
  width: 25%;
}

#backButton {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vw;
  margin: 20px 0;
}

@media screen and (max-width: 550px) {
  #backButton {
    font-size: 20px;
  }
}

#backButton i {
  margin-right: 10px;
}

#backButton:hover {
  cursor: pointer;
}

#billSummary {
  font-family: "Futura", "serif";
  font-size: 20px;
  width: 100%;
}

#editUserPage {
  height: 100%;
  overflow: auto;
}

#editUserPage span {
  color: #fff;
  font-family: "Futura", "serif";
  font-size: 2vw;
}

@media screen and (max-width: 550px) {
  #editUserPage span {
    font-size: 20px;
  }
}

.paymentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
}

.paymentContainer input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "Futura", "serif";
  font-size: 20px;
  margin: 0 10px;
  text-align: center;
  width: 50%;
}

.paymentContainer input:focus::-webkit-input-placeholder {
  color: transparent;
}

.paymentContainer input:focus:-ms-input-placeholder {
  color: transparent;
}

.paymentContainer input:focus::-ms-input-placeholder {
  color: transparent;
}

.paymentContainer input:focus::placeholder {
  color: transparent;
}

.peoplePaying {
  margin: 20px 0;
}

.peoplePaying hr {
  margin: 20px 0;
}

.personContainer {
  color: #fff;
  font-family: "Futura", "serif";
  font-size: 2.25vw;
  width: 200px;
}

.personContainer input[type="checkbox"] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  margin-right: 20px;
}

@media screen and (max-width: 550px) {
  .personContainer {
    font-size: 20px;
    width: 150px;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

table input {
  border: 0;
  border-radius: 0;
  font-family: "Futura", "serif";
  font-size: 20px;
  padding: 10px 0 10px 5px;
  text-align: right;
  width: 90%;
}

table input:focus::-webkit-input-placeholder {
  color: transparent;
}

table input:focus:-ms-input-placeholder {
  color: transparent;
}

table input:focus::-ms-input-placeholder {
  color: transparent;
}

table input:focus::placeholder {
  color: transparent;
}

table td {
  padding-left: 15px;
}

table span {
  text-align: right;
}
/*# sourceMappingURL=editUser.css.map */
