@import "../global/global";

#billSummary {
  background: #fff;
  border-radius: 15px;
  color: #000000;
  font-family: "Futura", "serif";
  overflow: auto;
}

#editUserPage {
  height: 100%;
  overflow: auto;
  width: 100%;
}

table {
  // margin: 0 auto;
  width: 100%;
}
