@import "../global/global";

#homepage {
  margin: 10% auto;
  text-align: center;
  width: 80%;
  @media screen and (max-width: $mobileSize) {
    margin: 50% auto;
  }
  .doneButton {
    background: $buttonColor;
    border-radius: 15px;
    color: #fff;
    display: block;
    font-family: $fontDesc;
    font-size: 20px;
    margin: 20px auto;
    padding: 10px;
    text-decoration: none;
    width: 60px;
  }
}

#logo {
  display: block;
  height: 150px;
  margin: 5% auto;
  @media (max-width: $mobileSize) {
    margin: 10% auto;
  }
}

#titleDesc {
  color: #fff;
  font-family: $fontDesc;
}
